[user]
	email = raulgracialario@gmail.com
	name = Raul Gracia
	signingkey = D652218D3512C9DD0D470FEC7AD34CC825F4BCD3
[color]
	ui = true
  branch = always
  status = always
  diff = always
  interactive = always
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  aa = add --all
  ap = add --patch
  ca = commit --amend
  c = commit -v
  co = checkout
  st = status
  up = pull --rebase --autostash
  dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff
  dl = -c diff.external=difft log -p --ext-diff
  ds = -c diff.external=difft show --ext-diff
  dft = -c diff.external=difft diff
[diff]
  external = difft
[gpg]
  program = /usr/local/bin/gpg
[difftool "difftastic"]
    cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[pager]
  difftool = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	editor = nvim
	safecrlf = true
	pager = delta
[init]
	defaultBranch = main
[commit]
	template = ~/.gitmessage
	gpgsign = true
[status]
  sort = 1
  branch = 1
[push]
	default = current
[pull]
  rebase = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color "diff"]
	commit = yellow bold
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[credential]
	helper = osxkeychain
[sendpack]
	sideband = false
[http]
	postBuffer = 157286400
	version = HTTP/1.1
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[difftool]
  prompt = false
[diff]
  tool = difftastic
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
  side-by-side = true
[merge]
	conflictStyle = zdiff3
